version: '3.8'

services:
  server:
    build: ./server
    container_name: erp_server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGODB_URI=mongodb://mongo:27017/erp_db
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: erp_client
    ports:
      - "3000:80"
    depends_on:
      - server

  mongo:
    image: mongo
    container_name: erp_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
